* {
    /* border: 1px solid grey; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* These are the imported fonts */
@font-face {
    /* Cursive heading font */
    font-family: BakerieSmooth-Bold;
    src: url(other/BakerieSmooth-Bold.otf)
}

/* --------- Headings --------- */

h2 {
    font-family: BakerieSmooth-Bold;
    font-size: 65px;
    color: white;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    background-color:#161B40;
    width: 100%;
}

.nav-bar {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-content: center;
    padding: 2%;
    
}

.nav-links {
    display: flex;
}

.nav-links a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.nav-links a:hover {
    color: pink;
}

.hero-section {
    height: 100vh; /*This makes the image fullscreen but there is some overlap at the botttom*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 2%;
    padding-top: 10%;
    background-color: #161B40;

}

#hero-image-spacing {
    padding:4%;
}

.hero-text {
    flex-grow: 2;
    padding: 4%;
    color: white;  

}

#hero-name, #hero-byline {
    font-size: 40px
}

#hero-welcome-line {
    font-size: 20px;
}

#down_carat {
    height: 60px;
}

/* --------------- This is the About Me section on the home page ----------------- */

.about_me-container {
    display: flex;
    padding: 2%;
    justify-content: center;
    background-color:lightsteelblue;
}

#about-me-text, #about-me-image {
    padding: 4%;
}

/* ----- This is the footer section ------ */

.page-footer {
    text-align: center;
    background-color:#161B40;
    padding: 1%;
    color: white;
    font-size: 20px;
}

#linkedin-icon, #github-icon {
    height: 40px;
}

/* -------------------- This is the Projects page -------------------- */

.projects-page {
    background-color:#161B40;
    padding-bottom: 2.5%;
}

#projects-heading_padding {
    padding-top: 5%;
}

.projects-card_wrapper {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */ /*This messes up the alignment*/
}

.projects-container {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.project-card {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    background-image: url(images/card-test2.png);
    background-repeat:no-repeat;
    width: 450px;
    padding-bottom: 3%; /*This makes sure the bottom of the image is seen*/
}

.project-card:hover {
    background-image: url(images/card-test-fill2.png);
}

.project-card_image {
    width: 382px;
    height: 218px;
    padding-left: 19px;
    padding-top: 32px;
    
}

.project-card_text {
    padding-left: 45px;
    padding-top: 20px;
    width: 350px;
    height: 250px;
}

/* ----------------- This is the contact form page section ----------------- */

input, email, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit] {
    background-color:bisque;
    border: none;
    height: 4em;
    width: 6em;
    font-weight: bold;
}

.contact-form_wrapper {
    background-color:lightsteelblue;
    padding: 2%;
    width: 40%;
}

#contact-form_page {
    background-color:#161B40;
    display:flex;
    justify-content:center;
    padding-top: 8%;
    height: 85vh;
}

#contact-intro {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 4%;
}

/* --------- Responsiveness settings ---------- */

@media (max-width: 900px) {
    /*index page*/

    /*projects page*/
    #projects-heading_padding {
        padding-top: 10%;
    }

    /*contact page*/
    .contact-form_wrapper {
        width: 60%;
    }

    #contact-form_page {
        padding-top: 15%;
        /* padding-bottom: 15%; */
    }
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        width: 100%;
        padding-top: 10%;
        text-align:center;
    }

    #hero-name, #hero-byline {
        font-size: 20px
    }
    
    #hero-image-spacing {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-top:4%;
    }

    .hero-text {
        display: flex;
        /* justify-content: center; */
        flex-direction:column;
        padding: 0;
        /* padding-bottom: 8%; */
        flex-grow: 1;
    }

    #hey-there_sizing {
    width: 200px;
    margin: auto;
    display: block;
    }

    header {
        position: fixed;
        top: 0;
        /* height: 13vh; */
        background-color:#161B40;
        width: 100%;
    }

    .about_me-container {
        padding: 0;
        flex-direction: column;
        justify-content: center;
}

#hero-name, #hero-byline, #hero-welcome-line {
    display:flex;
    justify-content: center;
}

#about-me-image {
    display: flex;
    justify-content: center;
}
    

html {
    scroll-padding-top: 4rem;
}

/* --Projects page-- */

.projects-card_wrapper {
    display: flex;
    justify-content: center;
}

}

@media (max-width:376px) {

    #hero-image_sizing {
        height: 300px;
    }

    .about_me-container {
        padding:0;
        width: 100%;
    }

    #hey-there_sizing {
        margin:0;
        align-self: center;
    }

    #hero-welcome-line {
        padding-bottom: 5%;
    }

    #hero-name {
        padding-top: 3%;
    }

    #about-me-image img {
        width: 75%;
    }

    .nav-bar {
        flex-direction: column;
    }

    .hero-text {
        padding-top: 4%;
    }

    #hero-image-spacing {
        padding-top: 20%;
    }

    html {
        scroll-padding-top: 7rem;
    }

/* ---- projects page ----*/

#projects-heading_padding {
    font-size: 45px;
    padding: 30% 3% 0 5%;
}

.project-card {
background-image: none;
background-color:lightsteelblue;
margin: 4%;
width: 180px;
}

.project-card_image {
    object-fit: contain;
    padding: 0%;
}

.project-card_text {
    width: 90%x;
    padding: 4%;
}

.project-card:hover {
    background-image: none;
}

/* ---- Contact page ----*/

.contact-form_wrapper {
    width: 80%;
    margin-bottom: 10%;
}

.contact-form_wrapper h2 {
    font-size: 55px;
    padding-top: 15%;
}

#contact-form_page {
    height: 90vh;
}

}
